
i {
    margin-right: 10px;
}

div#map {
    height: 100%;
    width: auto;
}

.map-container {
    width: 100%;
    height: 800px;
}

aside {
    position: absolute;
    top: 150px;
    margin-left: 5%;
}

.menu-label {
    margin-top: 10px;
    margin-left: 10px;
}

.dropdown {
    margin-left: 10px;
    margin-bottom: 10px;
}

.hidden {
    visibility: hidden;
}



